<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right border-0 p-0" type="button" data-toggle="collapse" data-target="#navbar8"></button>
    <div class="collapse navbar-collapse" id="navbar8">
      <p class="d-none d-md-block lead mb-0 text-dark" (click)="toHomePage()"> <i class="fa d-inline fa-graduation-cap fa-2x"></i> <b>E-Education</b>&nbsp;</p>
      <ul class="navbar-nav ml-auto">
        <h3 class="ml-auto">{{loggedInUser.username}}</h3>
      </ul>
      <ul class="navbar-nav ml-auto">
        <a class="btn btn-outline-primary" (click)="logout()">Sign out<br></a>
      </ul>
    </div>
  </div>
</nav>
