<div class="modal-header">
  <h4 class="modal-title">Discard Changes</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Changes will not be saved. Do you want to proced?</p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-success" (click)="activeModal.close(true)">Discard</button>
  <button type="button" class="btn btn-danger" (click)="activeModal.close(false)">Close</button>
</div>
