<div class="w-75 d-inline-flex tabs content-wrapper-height">
  <div class="py-5 text-center w-100 h-100 align-items-center d-flex">
    <div class="container py-5">
      <div class="row">
        <div class="mx-auto col-lg-8 col-md-10">
          <h1 class="display-3 mb-4">E-Education</h1>
          <p class="lead mb-5">Software application for the administration of the teaching process in an educational institution.</p>
          <p class="lead mb-3">Developers:</p>
          <h4>Predrag Lević Marko Križan</h4>
        </div>
      </div>
    </div>
  </div>
</div>
