<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row h-100">
          <div class="col-md-3"></div>
          <div class="col-md-6 justify-content-center align-items-center">
            <div class="card mt-5">
              <div class="card-body">
                <h3 class="text-center mb-3">Log in:</h3>
                <form id="c_form-h" (ngSubmit)="login()">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row d-flex justify-content-center align-items-center">
                        <div class="col-10 d-flex justify-content-center align-items-center">
                          <input type="text" class="form-control w-75"  placeholder="Enter username" name="username" [(ngModel)]="user.username">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row d-flex justify-content-center align-items-center">
                        <div class="col-10 d-flex justify-content-center align-items-center">
                          <input type="password" class="form-control w-75" placeholder="Enter password" name="password" [(ngModel)]="user.password">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 d-flex justify-content-center align-items-center"><button type="submit" class="btn btn-outline-primary">Log in</button></div>
                    <div class="col-md-4"></div>
                  </div>
                </form>
              </div>
              <div *ngIf=wrongUsernameOrPass class="alert alert-warning box-msg" role="alert">
                Wrong username or password.
              </div>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
