<div class="w-75 d-inline-flex tabs">
  <div class="card w-100 card-fix">
    <div class="card-body w-100 h-100">
      <h5 class="card-title"><b>Payments:</b></h5>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 d-flex align-items-center">
              <h5 class="card-title"><b>Amount payed: 200 RSD</b></h5>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center"><a class="btn btn-info" href="#"><i class="fa fa-credit-card fa-fw fa-1x py-1"></i></a></div>
          </div>
          <h5 class="card-title"><b>Amount spent: 200 RSD</b></h5>
          <h5 class="card-title"><b>Balance : 0 RSD</b></h5>
          <br>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-center">Purpose</th>
                <th scope="col" class="text-center">Amount</th>
                <th scope="col" class="text-center">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td class="text-center">Exam registration</td>
                <td class="text-center">200 RSD</td>
                <td class="text-center">13/3/2019</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td class="text-center">Exam registration</td>
                <td class="text-center">200 RSD</td>
                <td class="text-center">13/3/2019</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td class="text-center">Exam registration</td>
                <td class="text-center">200 RSD</td>
                <td class="text-center">13/3/2019</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
